/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/JavaApplication1/nbproject/private/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/JavaApplication1/build/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/Pedidos/nbproject/private/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/Pedidos/build/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/FlyWeightPedido/nbproject/private/