/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/JavaApplication1/nbproject/private/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/JavaApplication1/build/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/Pedidos/nbproject/private/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/Pedidos/build/
/Padroes_de_Projeto/Estrutural/PesoMosca/Pedidos/FlyWeightPedido/nbproject/private/
/Padroes_de_Projeto/Comportamental/Observer/grupoEmail/nbproject/private/
/Padroes_de_Projeto/Comportamental/Observer/grupoEmail/build/
/Padroes_de_Projeto/Comportamental/Cadeia_de_Responsabilidade/Caixa_Automatico/CaixaAutomatico/nbproject/private/
/Padroes_de_Projeto/Comportamental/Cadeia_de_Responsabilidade/Caixa_Automatico/CaixaAutomatico/build/